<style>
    .left-menu-container {
        font-family: 'Montserrat', sans-serif;
        display: flex !important;
        height: -webkit-fill-available !important;
        width: 160px !important;
    }
    .left-menu-container ul {
        list-style: none !important;
    }
    #left-menu {
        background-color: #3c3c3c !important;
        padding: 10px !important;
    }

    #left-menu ul {
        padding: 0;
    }

    #left-menu a {
        font-size: 15px;
        display: block !important;
        color: #ebebeb !important;
        text-decoration: none !important;
    }

    #left-menu a:hover {
        color: #ddd !important;
    }

    .gowp-main-container {
        display: flex;height: -webkit-fill-available !important;
    }

    .gowp-container {
        width: -webkit-fill-available !important;
        align-self: center !important;
        text-align-last: center !important;
    }
</style>
<div class="left-menu-container">
    <div id="left-menu">
        <!-- 
        Settings
            - General
            - Theme
            - Language
        -->
        <nav>
            <ul>
                {{ range $Title, $pair := .menupages }}
                {{ $mainMenu := index  $pair 0 }}
                <li>
                    <a href="{{ index $mainMenu 0 }}">{{ index  $mainMenu 1 }}</a>
                    {{ if gt (len $pair) 1 }}
                    <ul>
                        {{ range $subMenu := (slice $pair 1) }}
                        <li><a href="{{ index  $subMenu 0 }}">{{ index  $subMenu 1 }}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </nav>

    </div>
</div>