<style>

    html {
        margin-top: 40px !important;
    }

    body,
    html {
        margin: 0;
        padding: 0 ;
        height: -webkit-fill-available;
    }

    #gowp-main-menu {    
        top: 0;
        height: 40px !important;
        position: fixed !important;
        width: -webkit-fill-available !important;
        font-family: 'Montserrat', sans-serif !important;
        background-color: #333 !important;
        color: #fff !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    #gowp-main-menu a {       padding: 8px 15px;
    display: inline-flex;
    font-size: 15px !important;
    font-weight: normal !important;
    text-decoration: none !important;
    background-color: transparent !important;
    color: #fff !important;
    border-radius: 4px !important;
    transition: background-color 0.3s ease !important;
    }

    #gowp-main-menu a:hover {
        background-color: #0056b3 !important;
    }



    #gowp-main-menu h1 {
        font-size: 20px !important;
        font-weight: 700 !important;
        color: #333 !important;
    }

    #gowp-main-menu p {
        font-size: 18px !important;
        color: #666 !important;
    }
</style>
<div id="gowp-main-menu" class="gowp-main-menu">
    <a href="/">Home</a>
    <a href="/add_plugin">Add-plugin</a>
</div>